.before\:animate-shine::before {
  animation: shine 3s ease-out infinite;
}

.animate-rainbow {
  animation: rainbow 3s linear infinite;
}

.animate-button-pulsating {
  animation: button-pulsating 1.5s ease-out infinite;
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  25% {
    background-position: -200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes button-pulsating {
  0% {
    box-shadow: 0 0 0 0 var(--button-pulse-color, currentColor);
  }
  70% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  50% {
    box-shadow: 0 0 0 8px var(--pulse-color);
  }
}

[data-variant='default'] {
  --button-pulse-color: var(--primary);
}
[data-variant='destructive'] {
  --button-pulse-color: var(--destructive);
}
[data-variant='secondary'] {
  --button-pulse-color: var(--secondary-foreground);
}
[data-variant='outline'] {
  --button-pulse-color: var(--ring);
}
[data-variant='ghost'] {
  --button-pulse-color: var(--ring);
}
